body {
    font-family: Didot, serif;
    font-size: 100px;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3E4E50;
  }
  
  .container {
    text-align: center;
  }
  
  h1 {
    color: #333;
    margin-bottom: 50px; /* Adds space below the heading */
  }
  
  .START {
    background-color: #F8BD7F;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    text-decoration: none; /* Remove default link underline */
  }
  
  .START:hover {
    background-color: #F5AC72;
  }
  