*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(0deg, #ff0000, rgb(160, 70, 70)747);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    margin-top: 20px;
}

#swiper {
    height: 60vh;
    aspect-ratio: 3 / 2;
    perspective: 1000px;
    perspective-origin: center 50%;
    transform-style: preserve-3d;
    position: relative;
}

.card {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 20px;
    overflow: hidden;
    transform: translateZ(calc(-30px * var(--i)))
    translateY(calc(-20px * var(--i))) rotate(calc(-4deg * var(--i)));
    filter: drop-shadow(2px 2px 20px rgba(0, 0, 0, 0.5));
    cursor: pointer;
    user-select: none;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.button-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
}

#no, #moreinfo, #yes {
    font-size: 8vh;
    border-radius: 50%;
    padding: 20px;
    background: none;
    position: relative;
    z-index: 1;
}

#no:hover, #moreinfo:hover, #yes:hover {
    border-radius: inherit;
    background: #787878;
    opacity: 0.7; 
}

#no {
    color: #ff0000;
    background-color: none;
}

#moreinfo {
    color: black;
    background-color: none;
}

#yes {
    color: aquamarine;
    background-color: none;
}